useDynLib(ABSSeq,.registration = TRUE,.fixes = "C_")
export(ABSSeq)
export(GPTest)
export(calPara)
export(estimateSizeFactorsForMatrix)
export(normalFactors)
export(ABSDataSet)
export(plotDifftoBase)
exportClasses(ABSDataSet)
exportMethods("counts<-")
exportMethods("groups<-")
exportMethods("normMethod<-")
exportMethods("sizeFactors<-")
exportMethods(counts)
exportMethods(groups)
exportMethods(normMethod)
exportMethods(sizeFactors)
exportMethods(results)
importFrom(Rcpp, evalCpp)
import(methods)
